<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Slic3rPostProcessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Slic3rPostProcessing.Properties.Settings>
            <setting name="export_counter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_UpdateRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_intCounterSize" serializeAs="String">
                <value>5</value>
            </setting>
        </Slic3rPostProcessing.Properties.Settings>
    </userSettings>
</configuration>